*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #25ab75;
    --color-primary-dark: #208c61;
    --color-bg-primary: #1a1a1a;
    --color-bg-secondary: #242424;
    --color-bg-footer: #151515;
    --color-white: #ffffff;
    --color-text: #676767;
    --color-border: #373737;
}