*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #25ab75;
    --color-primary-dark: #208c61;
    --color-bg-primary: #1a1a1a;
    --color-bg-secondary: #242424;
    --color-bg-footer: #151515;
    --color-white: #ffffff;
    --color-text: #676767;
    --color-border: #373737;

    --ff-body: "Space Grotesk", sans-serif;

    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 3.2rem;
    --fs-biggest: clamp(3rem, 8vw, 5rem);

    
}